{% extends "backoffice/base.html" %}

{% block body %}
{% load crispy_forms_tags %}
    <div class="container col-xs-6 col-xs-offset-3">
        <form action="{% url 'editar_encuesta' usuario.id %}" method="post">
            {% csrf_token %}
            {{ forms|crispy }}
            <input type="submit" class="btn btn-success btn-md" value="Guardar"/>
            <a href="{% url 'usuarios' %}" class="btn btn-warning btn-md">Cancelar</a>
        </form>
    </div>
{% endblock body %}
