{% extends "backoffice/base.html" %}

{% block body %}
    <div class="container">
        <table class="table table-striped">
            <tr>
                <th>Nombre y apellido</th>
                <th>Email</th>
                <th>DNI</th>
                <th>Estado de validación</th>
                <th>Encuesta</th>
                <th>Verificación</th>
            </tr>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.get_full_name }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.perfil.dni }}</td>
                <td>{{ usuario.perfil.validacion.get_estado_display }}</td>
                <td>
                    <a class="glyphicon glyphicon-pencil" href="{% url 'editar_encuesta' usuario.id %}"></a>
                    <a class="glyphicon glyphicon-trash" href="{% url 'eliminar_encuesta' usuario.id %}"></a>
                </td>
                <td>
                    <a class="glyphicon glyphicon-ok" href="{% url 'aprobar_validacion' usuario.id %}"></a>
                    <a class="glyphicon glyphicon-remove" href="{% url 'rechazar_validacion' usuario.id %}"></a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock body %}
