<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Encuesta de validación</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'home' %}">Encuesta</a>
                </div>
                {% if user.is_authenticated %}
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="navbar-brand">Bienvenido, {{ user.username }}</li>
                            <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </nav>
        {% block body %}
        {% endblock body %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        {% block js %}
        {% endblock js %}
    </body>
</html>
