{% extends "validacion/base.html" %}

{% block body %}
{% load crispy_forms_tags %}
<div class="clearfix"></div>
<div class="row container col-xs-4 col-xs-offset-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">Encuesta de validación</div>
        </div>
        <div class="panel-body">
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-primary btn-lg center-block" value="Iniciar sesión"/>
            </form>
        </div>
    </div>
</div>
{% endblock body %}
