{% extends "validacion/base.html" %}

{% block body %}
{% load crispy_forms_tags %}
{% load staticfiles %}
    <div class="container col-xs-6 col-xs-offset-3">
        <form action="{% url 'preguntas' %}" method="post" data-id="{{ pregunta.id }}">
            {% csrf_token %}
            {{ form|crispy }}
            <p>Tenés <span id="temporizador">20 segundos</span> para responder!</p>
            <input type="submit" class="btn btn-success btn-md" value="Continuar"/>
        </form>
    </div>
{% endblock body %}

{% block js %}
<script src="{% static "js/countdown.min.js" %}"></script>
<script src="{% static "js/temporizador.js" %}"></script>
{% endblock js %}
