{% extends "validacion/base.html" %}
{% load staticfiles %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            {% if estado == 'e' %}
                <h2>Encuesta de validación</h2>
                <p>Para poder otorgarte tu préstamo, necesito verificar tu identidad mediante algunas preguntas sencillas. Presioná el botón Continuar para responderlas.</p>
                <p><a class="btn btn-primary btn-lg" href="{% url 'preguntas' %}" role="button">Continuar</a></p>
            {% else %}
                <h2>Resultado de la validación</h2>
                <p>
                {% if estado == 'a' %}
                    Tu préstamo ha sido aprobado! En las próximas horas vas a recibir la transferencia.
                {% elif estado == 'm' %}
                    Hubo un problema con la verificación. Comunicate conmigo cuanto antes por teléfono o mail para seguir adelante.
                {% elif estado == 'r' %}
                    Lamentablemente tu préstamo fue rechazado. Intentalo de nuevo en 30 días.
                {% endif %}
                </p>
            {% endif %}
        </div>
    </div>
{% endblock body %}
